@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'layout';
@import 'responsive';
@import 'header';
@import 'footer';
@import 'typography';

// Default styling for all elements on the page

html {
    box-sizing: border-box;
    height: $hundred-percent;
}

body {
    background-color: $site-color;
    // margin: 1.6em;
    padding: $zero;
    height: $hundred-percent;
}

/* Test of Sass calculation */
.me-img,
.website-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    // $width: 200px;
    // width: $width;
    // position: absolute;
    // left: calc(75% - #{$width / 2});
    // top: 0;
    // padding-top: 10em;
    // clear: both;
}
