@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'header';
@import 'layout';
@import 'footer';
@import 'responsive';

// Default styling for all elements on the page
* {
    font-family: $font-stack;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-fonts;
    color: $title-color;
}

html {
    font-size: 1.2em;
    height: 100%;
}

body {
    background-color: $site-color;
    margin: 0;
    padding: 0;
    height: 100%;
}

.about-main,
.about-container {
    background-color: $site-color;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

footer {
    display: block;
}
