@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'header';
@import 'layout';
@import 'footer';

// Default styling for all elements on the page
* {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface';
}

html {
    font-size: 1.2em;
}

body {
    background-color: $site-color;
    margin: 0;
    padding: 0;
}

.about-main,
.about-container {
    background-color: $site-color;
}
