.site-footer .container-footer {
    height: 10em;
    background-color: #f53b57;
    color: $site-color;
    display: block;

    padding: 1.5em;
    clear: both;
}


/* Footer paragraph */
.read-more {
    color: $accent-color;
    font-size: 1.2em;
    font-weight: bolder;
}

.site-footer .social {
    float: left;
}
