.topnav {
    background-color: $navbar-color;
    border-bottom: 4px solid $accent-color;
    height: 5em;
    padding: 1em;
    margin-bottom: 1.6em;
    flex: 0 0 auto;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    // box-shadow: $box-shadow;
    clear: both;
}

.topnav ul {
    list-style-type: none;
    margin: $zero;
    padding: $zero;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav a {
    color: $site-color;
    text-decoration: none;

    .topnav a:hover {
        background-color: #ddd;
        color: #000;
    }

    .topnav a:active {
        background-color: #4caf50;
        color: #fff;
    }
}

.topnav li,
.topnav a {
    display: block;
    padding: 8px;
    background-color: $navbar-color;
}

.test {
    padding: 2em;
    margin: 2em;
}
