.topnav {
    height: 5em;
    padding: 1em;
    background-color: #ffd32a;
    // overflow: hidden;
    // display: flex;
    flex: 0 0 auto;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    clear:both;
}

.topnav a {
    float: left;
    color: $accent-color;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: #000;
}

.topnav a:active {
    background-color: #4caf50;
    color: #fff;
}

.topnav ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: $zero;
    padding: $zero;
}

.topnav li {
    box-sizing: border-box;
    padding: 14px 16px;
    border-right: 1px $accent-color;

    .topnav li:last-child {
        border-right: 0;
    }
}

.test {
    padding: 2em;
    margin: 2em;
}
