.wrapper {
    background-color: $container-background;
    box-shadow: $box-shadow;
    margin-bottom: 1.6em;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    min-height: calc(100vh - 15em);
}

// .bunny,
// .funny {
//
// }

.second {
    // box-shadow: $box-shadow;
    // margin: 0 auto;
    // height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    box-sizing: border-box;
}

.learn,
.read {
    padding: 10px;
    margin: 1em;
    font-family: $font-stack;
    color: $site-footer-color;
    letter-spacing: $letter-space;
    background-color: $site-color;
    // border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
}
