/* Style for landing page with board and content*/
.column-container {
    // display: table;
    min-height: calc(100vh - 15em);
}

.board-column {
    width: 50%;
    float: right;
    padding-top: 0.5em;
    box-sizing: border-box;
}

.content-column {
    width: 50%;
    float: left;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 1em;
    box-sizing: border-box;
}

.board-column,
.content-column {
    column-gap: 1em;
}

/* Box shadow from w3c schools '/

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'

/* old colors */
// $accent-color: #575fcf;
// $site-color: #eef2f7;
// $site-color:  #d4d4dc; Silver
// $site-footer-color: #ffdf66;
// $navbar-color: #ffd32a;
// $site-footer-color: #93a4b4; banksy
