/* Style for landing page with board and content*/
.column-container {
    width: 95%;
    background-color: $container-background;
    margin: auto;
    padding: auto;
    min-height: calc(100vh - 15em);
    display: flex;
    flex-flow: row wrap;
    box-shadow: $box-shadow;
    margin-bottom: 1.6em;
    // overflow: hidden;
}

.content-column {
    padding-left: 2em;
    padding-top: 2em;
    flex: 50%;
    box-sizing: border-box;
}

.board-column {
    padding-top: 2em;
    flex: 50%;
}

/* Clear float after the columns */
.row::after {
    content: '';
    display: table;
    clear: both;
}
