/* Style for landing page with board and content*/
.column-container {
    display: table;
    width: $hundred-percent;
    min-height: calc(100vh - 15em);
}

.board-column {
    width: 50%;
    float: right;
    padding-top: 0.5em;
    display: table-cell;
}

.content-column {
    width: 50%;
    float: left;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 1em;
    box-sizing: border-box;
    display: table-cell;
}

.board-column,
.content-column {
    column-gap: 1em;
}
