/* Style for report page */
.landingpage {
    display: grid;
    max-width: 1200px;
    margin-left: 5em;
    gap: 1em 1em;
    padding: 0 1em;
    min-height: calc(100vh - 15em);
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    background-color: $container-background;
    border: 1px solid $light-gray;
    // max-width: 1200px;
    // margin: 0 auto;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 1em;
    // overflow: auto;
    // clear: both;
}

.kmom-box.project {
    grid-column: span 3;
    margin-bottom: 2em;
    // overflow: auto;
    // clear: both;
}

.p-box {
    width: $mobile-line-length;
    margin-left: 0.5em;
}

.kmom-title {
    color: $site-color;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: $letter-space;
}

.title-box {
    // padding: 1em solid $accent-color;
    width: 100%;
    background-color: $navbar-color;
}

@media (max-width: 768px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 4;
    }

    .landingpage {
        margin-left: 0.5em;
    }
}
