/* Responsive site and style for small devices */

@media (max-width: 980px) {
    body,
    .column-container,
    .site-header,
    .site-footer {
        width: auto;
    }
}

@media (max-width: 768px) {
    .topnav {
        clear: both;
        padding: $zero;
    }

    .topnav ul {
        padding-bottom: 1em;
    }

    .topnav ul li {
        display: block;
        margin-left: $zero;
        text-align: center;
    }

    .topnav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .topnav a {
        text-transform: uppercase;
        font-size: 0.6em;
    }

    .sidebar {
        display: none !important;
    }

    .board-column,
    .content-column,
    .content {
        flex: 100%;
        padding: 0.5em;
        margin: 0;
    }
}

/* Images */
@media (max-width: 768px) {
    .me-img,
    .website-img,
    .avocado-img {
        max-width: 100%;
        height: auto;
    }
}

/* Responisve report pages*/
@media (min-width: 600px) {
    .wrapper { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .wrapper { grid-template-columns: repeat(3, 1fr); }
}
