/* Responsive site and style for small devices */

@media (max-width: 980px) {
    body,
    .column-container,
    .site-header,
    .site-footer {
        width: auto;
    }
}

@media (max-width: 767px) {
    .topnav {
        clear: both;
        padding: $zero;
    }

    .topnav ul {
        padding-bottom: 1em;
    }

    .topnav ul li {
        display: block;
        margin-left: $zero;
        text-align: center;
    }

    .topnav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .topnav a {
        text-transform: uppercase;
        font-size: 0.6em;
    }

    .board-column,
    .content-column {
        flex: 100%;
        padding: 0.5em;
        margin: 0;
    }

    .me-img,
    .website-img {
        max-width: 100%;
        height: auto;
    }

}
