@import 'common';
@import 'variables-dark';
@import 'typography';
// @import 'variables';
@import 'header';
@import 'sidebar';
@import 'footer';
@import 'layout';
@import 'responsive';
@import 'report';
@import 'kmom';

// Default styling for all elements on the page

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: $site-color;
    // margin: 1.6em;
    padding: 0;
    height: 100%;
}

.articles-img {
    width: 120px;

    .website-img {
        width: 200px;
    }
}

/* Test of Sass calculation */
.me-img,
.website-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    // $width: 200px;
    // width: $width;
    // position: absolute;
    // left: calc(75% - #{$width / 2});
    // top: 0;
    // padding-top: 10em;
    // clear: both;
}

// /* Längst ner i min style-dark.scss */
// .main {
//     background-color: yellow;
// }
