* {
    font-family: $font-stack;
    box-sizing: border-box;
}

html {
    font-size: $hundred-percent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $darker-text;
    font-family: $title-fonts;
    font-weight: $less-weight;
    letter-spacing: $letter-space;
    margin-block-end: $block-end;

    h1,
    h2 {
        letter-spacing: $big-letter-space;
    }
}

h1,
h2 {
    @include breakpoint(baby-bear) {
        margin: $zero;
        // font-size: 1.2em;
        padding-left: 0.5em; // No padding from start
    }
}

h3 {
    @include breakpoint(baby-bear) {
        padding-left: 0.5em;
    }
}



p {
    font-size: $font-size;
    color: $darker-text;
    font-weight: $less-weight;
    line-height: $line;
    width: $line-length;
    margin-block-start: $block-start;
    margin-block-end: $block-end;

    @include breakpoint(baby-bear) {
        font-size: 1em;
        line-height: 200%; // seize before 1.6 recommended
        width: $mobile-line-length;
        padding-left: 0.5em; // No padding from start
        padding-bottom: 1.5em; // Test space between paragraphs
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// Sidebar kmompages

.box-h3 {
    color: rgba(233, 141, 245, 0.6); // darker accent 60%
    padding: 1em 0 0 1em;
}
