* {
    font-family: $font-stack;
    box-sizing: border-box;
}

html {
    font-size: $hundred-percent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-fonts;
    color: $title-color;
    letter-spacing: $letter-space;
    margin-block-end: $block-end;

    h1 {
        letter-spacing: $big-letter-space;
    }
}

p {
    font-size: $font-size;
    line-height: $line;
    width: $line-length;
    margin-block-start: $block-start;
    margin-block-end: $block-end;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// Test smaller devices

@media (max-width: 767px) {
    h1,
    h2 {
        margin: $zero;
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
        line-height: 1.6;
        width: $mobile-line-length;
    }

    .site-footer .social {
        float: left;
        padding: 0.5em 0 0.5em 0.2em;
        font-size: 1.2rem;
    }

}
