
$font-stack: Lato, sans-serif;
$inside-color: #fff; /* White color inside elements */
$outside-color: #e4e4e4; /* Light white-grey */
$site-color: #fcf9f9; /* some white color*/
$site-footer-color: #0d0f20; /* black with a hint of blue */

$site-header-color: #00f !default; //blue

// MArgin and padding zero
