
// Fonts and color in text
$font-stack: 'Lato', sans-serif;


// Fonts and color in titles
$title-fonts: 'Abril Fatface', sans-serif;
$title-color: #694486;

// Theme colors
$site-color: #fcf9f9;
$accent-color: #694486;
$site-footer-color: #0d0f20;
